<!-- src/views/productDetail.handlebars -->
<h1>Detalle del Producto</h1>

<div>
  <img src="{{product.thumbnail}}" alt="{{product.title}}" style="width:200px;">
  <h2>{{product.title}}</h2>
  <p>{{product.description}}</p>
  <p>Precio: ${{product.price}}</p>
  <p>Stock: {{product.stock}}</p>
  <p>Categoría: {{product.category}}</p>
</div>

<a href="/">Volver a Home</a>
